src/main/mule/sa1001-orders-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sa1001-orders-sapi-main">
        <http:listener config-ref="sa1001-orders-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
<!--         <error-handler ref="mainErrorHandler" /> -->
        <apikit:router config-ref="sa1001-orders-sapi-config" />

        
    </flow>
    <flow name="sa1001-orders-sapi-console">
        <http:listener config-ref="sa1001-orders-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
<!--         <error-handler ref="consoleErrorHandler" /> -->
        <apikit:console config-ref="sa1001-orders-sapi-config" />
        
        
    </flow>
    <flow name="get:\orders:sa1001-orders-sapi-config">
		<flow-ref doc:name="Flow Reference To getOrdersSubFlow" doc:id="2dba89b4-59d6-4a72-a9c3-bad75fd3079a" name="getOrdersSubFlow"/>
    </flow>
    <flow name="post:\orders:application\json:sa1001-orders-sapi-config">
		<flow-ref doc:name="Flow Reference To postOrdersSubFlow" doc:id="dc6380bb-894b-4f3f-9c8a-add74b5552c0" name="postOrdersSubFlow"/>
    </flow>
</mule>
